@model User

@{
    ViewData["Title"] = "CreatePartial";
}
<h2>Crear</h2>

<h4>Nuevo Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(x => x.Nombre) @Html.TextBoxFor(x => x.Nombre,new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Nombre,"",new { @class = "text-danger" })   
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Apellido) @Html.TextBoxFor(x => x.Apellido,new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Apellido,"",new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.LabelFor(x => x.Edad) @Html.TextBoxFor(x => x.Edad,new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Edad,"",new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Telefono) @Html.TextBoxFor(x => x.Telefono,new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Telefono,"",new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Email) @Html.TextBoxFor(x => x.Email,new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email,"",new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UserGenero)
                @Html.DropDownListFor(m => m.UserGenero,
                new SelectList(Enum.GetValues(typeof(Genero))),
                "Seleccione Genero",
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.UserGenero,"",new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UserEstadoCivil)
                <br />
                Casado @Html.RadioButtonFor(m => m.UserEstadoCivil,"Casado")
                <br />
                Soltero @Html.RadioButtonFor(m => m.UserEstadoCivil,"Soltero")
                <br />
                Viudo @Html.RadioButtonFor(m => m.UserEstadoCivil,"Viudo")
                <br />
                Union Libre @Html.RadioButtonFor(m => m.UserEstadoCivil,"Union Libre")
            </div>
            <h5><b> Hobbies<b> </h5>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.isProgramar)
                        @Html.DisplayNameFor(model => model.isProgramar)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.isNetflix)
                        @Html.DisplayNameFor(model => model.isNetflix)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.isMusica)
                        @Html.DisplayNameFor(model => model.isMusica)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.isDormir)
                        @Html.DisplayNameFor(model => model.isDormir)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
         }

     </div>
</div>

<div>
    @Html.ActionLink("Regresar","Index")
</div>