@model HtmlHelpersCore2.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserGenero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserGenero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserEstadoCivil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEstadoCivil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isProgramar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isProgramar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isNetflix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isNetflix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isMusica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isMusica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isDormir)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isDormir)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit","Edit",new { id = Model.Cedula }) |
    @Html.ActionLink("Regresar","Index")
</div>
