@model IEnumerable<HtmlHelpersCore2.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGenero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEstadoCivil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isProgramar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isNetflix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isMusica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDormir)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGenero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEstadoCivil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isProgramar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isNetflix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isMusica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDormir)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cedula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cedula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cedula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
